html,
body {
  margin: 0;
}

html {
  --white: hsl(0, 0%, 100%);
  --grayish: hsl(220, 15%, 55%);
  --light: hsl(212, 45%, 89%);
  --dark: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 16rem;
}

h1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  color: var(--dark);
  padding: 0 0.8rem;
}

p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--grayish);
  padding: 0 0.8rem;
  font-size: 15px;
}

img {
  border-radius: 1rem;
  width: 100%;
}
